<div
 style="
  font-family: Helvetica, Arial, sans-serif;
  min-width: 1000px;
  overflow: auto;
  line-height: 2;
 "
>
 <div style="margin: 50px auto; width: 70%; padding: 20px 0">
  <div style="border-bottom: 1px solid #eee"></div>
  <p style="font-size: 1.1em">Hello,</p>
  <p>
   Please use the following code to complete the verification process for your
   Tax Hub account: <strong>{{token}}</strong>.
  </p>
  <p>
   If you did not request this verification, please ignore this email or contact
   us for support.
  </p>

  <hr style="border: none; border-top: 1px solid #eee" />
  <div
   style="
    float: right;
    padding: 8px 0;
    color: #aaa;
    font-size: 0.8em;
    line-height: 1;
    font-weight: 300;
   "
  >
   <p>Best Regards,</p>
   <p>Tax Track Support Team</p>
  </div>
 </div>
</div>
