<!-- welcome.hbs located in your templates directory -->
<div
 style="
  font-family: Helvetica, Arial, sans-serif;
  min-width: 1000px;
  overflow: auto;
  line-height: 2;
 "
>
 <div style="margin: 50px auto; width: 70%; padding: 20px 0">
  <div style="border-bottom: 1px solid #eee"></div>
  <p style="font-size: 1.1em">Hi {{fullName}},</p>
  <p>
   Welcome to Tax Track. We look forward to a smooth, easy path to no balance
   with the IRS. Please don't hesitate to use the app to learn about your case.
   You can also ask us questions. Use the following key to verify your Tax Track
   account: {{token}}. You can create a secure password once you verify your
   cell phone number with us at
   <a href="https://TaxTrackBackend.com/">TaxTrackBackend.com</a>.
  </p>
  <hr style="border: none; border-top: 1px solid #eee" />
  <div
   style="
    float: right;
    padding: 8px 0;
    color: #aaa;
    font-size: 0.8em;
    line-height: 1;
    font-weight: 300;
   "
  >
   <p>Best,</p>
   <p>Tax Track Staff</p>
  </div>
 </div>
</div>
